/packages
/GdNet.DataReferences.Domain/obj
/GdNet.DataReferences.Domain/bin
/GdNet.DataReferences.Domain.Tests/obj
/GdNet.DataReferences.Domain.Tests/bin
/GdNet.DataReferences.EF/obj
/GdNet.DataReferences.EF/bin
/GdNet.DataReferences.Maps.AutoMapper/obj
/GdNet.DataReferences.Maps.AutoMapper/bin
/GdNet.DataReferences.Services/obj
/GdNet.DataReferences.Services/bin
/GdNet.DataReferences.Services.Impl/obj
/GdNet.DataReferences.Services.Impl/bin
/NuGet.GdNet.DataReferences.Domain/obj
/NuGet.GdNet.DataReferences.Domain/bin
/NuGet.GdNet.DataReferences.EF/obj
/NuGet.GdNet.DataReferences.EF/bin
/NuGet.GdNet.DataReferences.Services/obj
/NuGet.GdNet.DataReferences.Services/bin
/*.suo
/NuGet.GdNet.DataReferences.Domain/*.bak
/NuGet.GdNet.DataReferences.Domain/*.nupkg
*.nupkg
*.log
